<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Veterinaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <!-- Menú principal -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Menú principal -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Colores" asp-action="Index">Colores</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConsultas" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Consultas</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownConsultas">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="Index">Consultas</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DetalleConsultas" asp-action="Index">Detalle Consultas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMascotas" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Mascotas</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMascotas">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Mascotas" asp-action="Index">Mascotas</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Especies" asp-action="Index">Especies</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Razas" asp-action="Index">Razas</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Colores" asp-action="Index">Colores Mascotas</a></li>
                            @*
                            <li><a class="dropdown-item" asp-area="" asp-controller="RazaMascotas" asp-action="Index">Razas Mascotas</a></li>*@
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMedicamentos" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Medicamentos</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMedicamentos">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Medicamentos" asp-action="Index">Medicamentos</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TipoMedicamentos" asp-action="Index">Tipos de Medicamentos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVeterinarios" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Veterinarios</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownVeterinarios">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Veterinarios" asp-action="Index">Veterinarios</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="EspecialidadesVeterinarios" asp-action="Index">Especialidad de Veterinarios</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Especialidad" asp-action="Index">Especialidades</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- JavaScript necesario para el funcionamiento de Bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/menu1.js"></script>

</body>
</html>
