@model ClinicaVeterinaria.Models.EspecialidadesVeterinarios

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-5">Crear Especialidad Veterinario</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-5-strong" style="background-color: #f8f9fa;">
                <div class="card-body p-5">
                    <h4 class="card-title text-center mb-4">Datos de la Especialidad del Veterinario</h4>
                    <hr />

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="VeterinarioId" class="form-label">Veterinario</label>
                            <select asp-for="VeterinarioId" class="form-control" asp-items="ViewBag.VeterinarioId"></select>
                            <span asp-validation-for="VeterinarioId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EspecialidadId" class="form-label">Especialidad</label>
                            <select asp-for="EspecialidadId" class="form-control" asp-items="ViewBag.EspecialidadId"></select>
                            <span asp-validation-for="EspecialidadId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="TituloObtenido" class="form-label">Título Obtenido</label>
                            <input asp-for="TituloObtenido" class="form-control" />
                            <span asp-validation-for="TituloObtenido" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Crear Especialidad Veterinario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
