@model ClinicaVeterinaria.Models.Mascota

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-5">Crear Mascota</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-5-strong" style="background-color: #f8f9fa;">
                <div class="card-body p-5">
                    <h4 class="card-title text-center mb-4">Datos de la Mascota</h4>
                    <hr />

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="CodigoMascota" class="form-label">Código de Mascota</label>
                            <input asp-for="CodigoMascota" class="form-control" />
                            <span asp-validation-for="CodigoMascota" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PesoActual" class="form-label">Peso Actual</label>
                            <input asp-for="PesoActual" class="form-control" />
                            <span asp-validation-for="PesoActual" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                            <input asp-for="FechaNacimiento" class="form-control" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EspecieId" class="form-label">Especie</label>
                            <select asp-for="EspecieId" class="form-control" asp-items="ViewBag.EspecieId"></select>
                            <span asp-validation-for="EspecieId" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Crear Mascota</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
