@model ClinicaVeterinaria.Models.DetalleConsulta

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-5">Detalles del Detalle de Consulta</h1>

<div class="container">
    <div class="card shadow-5-strong">
        <div class="card-header">
            Detalles del Detalle de Consulta
        </div>
        <div class="card-body">
            <dl class="row mt-3">
                <dt class="col-sm-3">Código de Consulta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Consulta.CodigoConsulta)</dd>

                <dt class="col-sm-3">Aplicación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Aplicacion)</dd>

                <dt class="col-sm-3">Cantidad:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cantidad)</dd>

                <dt class="col-sm-3">Medicamento:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Medicamento.Descripcion)</dd>
            </dl>
        </div>
        <div class="card-footer text-muted">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
        </div>
    </div>
</div>
