@model ClinicaVeterinaria.Models.DetalleConsulta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit DetalleConsulta</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ConsultaId" class="control-label">Consulta</label>
                <select asp-for="ConsultaId" class="form-control" asp-items="@ViewBag.ConsultaId"></select>
                <span asp-validation-for="ConsultaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Aplicacion" class="control-label">Aplicación</label>
                <input asp-for="Aplicacion" class="form-control" />
                <span asp-validation-for="Aplicacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicamentoId" class="control-label">Medicamento</label>
                <select asp-for="MedicamentoId" class="form-control" asp-items="@ViewBag.MedicamentoId"></select>
                <span asp-validation-for="MedicamentoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
